# DATABASE
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_NAME=DB_Name
POSTGRES_SSLMODE=disable

# WEB SERVER
SERVER_PORT=8000
SERVER_SWAGGER_ROUTE=swagger
SERVER_MODE=development

# TOKEN
TOKEN_SECRET=mysecret
TOKEN_ISSUER=Recho
TOKEN_RT_TTL=720h # RT -> Refresh Token
TOKEN_AT_TTL=1h   # AT -> Access Token